<div class="navMenu">
    <div class="list-group">
        <a href="#" class="list-group-item">آپلود کتاب</a>
        <a ng-href="#/books/" class="list-group-item">کتابها</a>
        <a href="#" class="list-group-item">گزارش آپلود</a>
        <a href="#" class="list-group-item">تعریف کاربر سیستم</a>
        <a href="#" class="list-group-item">تنظیمات</a>
        <a href="#" class="list-group-item">تنظیمات نمایشی سایت</a>
        <a href="#" class="list-group-item">درخت موضوعات</a>
        <a href="#" class="list-group-item">اصطلاحنامه</a>
    </div>
</div>
<div class="content" ng-view>
    hellloooooooooo world!
</div>